{% extends 'base.html.twig' %}

{% block title %}Discount item{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class':"your_class_name"}}) }}

        {{ form_errors(form) }}

        {#{{ form_label(form.address) }}
        {{ form_errors(form.name) }}#}
        <div>
            name: {{ form_widget(form.name, {'attr': {'class': ''}}) }}
        </div>

        {#{{ form_label(form.address) }}
        {{ form_errors(form.name) }}#}
        <div>
            percentage: {{ form_widget(form.percentage, {'attr': {'class': ''}}) }}
        </div>

        {#{{ form_rest(form) }}#}

        <button type="submit" name="create" class="">
            {% if mode == 'add' %} Create {% else %} Edit {% endif %}
        </button>

    {{ form_end(form) }}

    <a href="{{ path('discounts') }}">Back</a>
{% endblock %}
