<nav>
    <a href="{{ path('diagnostic') }}">Diagnostic</a> |
    <a href="{{ path('discounts') }}">Discounts</a> |
    <a href="{{ path('product_types') }}">Product Types</a> |
    <a href="{{ path('products') }}">Products</a>
</nav>

<div class="logout-link">
    <a href="{{ path('logout') }}">Logout</a> |
    <a href="{{ path('registration')}}">Registration</a>
</div>
